/* @media all and (max-width:413px){
    .fa-bars{
        display: block;
}
.menu ul{
    display: block;
}
} */

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
        align-items: center;
        padding: 0 0;
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .container {
        padding: 0 50px;
    }

    .logo-text {
        font-size: 35px;
    }

    .menu ul {
        width: 520px;
    }

    .btn-register {
        padding: 10px 27px;
        font-size: 18px;
    }
}


@media all and (min-width: 768px) and (max-width:1023px) {
    .container {
        padding: 0 50px;
    }

    .fa-bars {
        display: block;
    }

    .menu {
        position: absolute;
        top: 120px;
        display: none;


    }

    .menu ul li a {
        display: block;
        margin-bottom: 15px;
    }

    .menu ul {
        display: block;
    }

    .menu.active {
        display: block;
    }

    .btn-register {
        padding: 10px 27px;
        font-size: 18px;
    }

    .header {
        margin: 50px 0 35px 0;
    }

    .logo-text {
        font-size: 35px;
    }

    .btn-register {
        margin-left: 300px;
    }

    .menu ul {
        background: black;
        padding: 30px;
        width: 250px;
        opacity: 0.95;
    }

    .menu {
        margin-left: 350px;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel button.owl-dot {
        padding: 0 20px !important;
        margin-top: -400px;
    }

    .popular-course {
        margin: 60px 0;
    }

    .popular-course-header h1 {
        font-size: 30px;
        width: auto;
    }

    .popular-course-card {
        flex-direction: column;
        gap: 20px;
    }

    .popular-course-btn button {
        font-size: 18px;
    }

    .elearning-institute {
        margin: 60px 0;
        height: 543px;
    }

    .elearning-text h1 {
        width: 320px;
        font-size: 30px;
        line-height: normal;
    }

    .elearning-text p {
        font-size: 16px;
        line-height: 26px;
        width: 320px;
    }

    .elearning-text h3 {
        display: none;
    }

    .elearning-number h2 {
        font-size: 25px;
        line-height: normal;
    }

    .elearning-number h4 {
        font-size: 16px;
    }

    .elearning-text {
        padding: 10px 20px;
    }

    .elearning-number {
        flex-wrap: wrap;
        margin: 20px 0;
        gap: 10px 33px;
    }

    .elearning-image img {
        height: 100%;
        width: 300px;
    }

    .elearning-btn button {
        font-size: 18px;
        padding: 11px 18px;
    }

    .register {
        flex-direction: column;
        align-items: center;
        padding: 58px;
        margin: 50px 0;
        text-align: center;
    }

    .register h1 {
        font-size: 30px;
        line-height: normal;
    }

    .register p {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .registration-btn button {
        padding: 11px 18px;
        font-size: 18px;
    }

    .successful-student {
        margin: 60px 0;
    }

    .successful-student-header h1 {
        width: auto;
        font-size: 30px;
        line-height: normal;
        margin-bottom: 10px;
    }

    .successful-student-header p {
        font-size: 16px;
        line-height: 30px;
        width: 415px;
        margin-bottom: 30px;
    }

    .successful-student-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .successful-student-card img {
        height: 100%;
        width: 100%;
    }
    .view-btn button {
        font-size: 18px;
        padding: 11px 18px;
    }
    .frequent-question {
        margin: 60px 0;
    }
    .questions-header h1 {
        font-size: 30px;
        line-height: normal;
    }
    .questions-header p {
        margin: 10px auto 30px auto;
    }
    .accordions {
        max-width: 734px;
        margin: 0 auto;
     }
     .accordion-item button {
        padding: 25px 0 25px 30px;
     
     }
     .accordion-content p {
        line-height: 28px;
        padding: 20px 0;
     }
     .accordion-item button[aria-expanded="true"]+.accordion-content{
        opacity: 1;
        max-height: 160px;
        transition: all 200ms linear;
     }
     .trusted-company {
        margin: 50px 0;
    }
    .trusted-company {
        display: none;
    }
    .footer {
        padding: 60px 0;
    }

}


@media all and (max-width:767px) {
    .container {
        padding: 0 50px;
    }

    .fa-bars {
        display: block;
    }

    .menu {
        position: absolute;
        top: 120px;
        display: none;


    }

    .menu ul li a {
        display: block;
        margin-bottom: 15px;
    }

    .menu ul {
        display: block;
    }

    .menu.active {
        display: block;
    }

    .btn-register {
        padding: 10px 27px;
        font-size: 18px;
    }

    .header {
        margin: 50px 0 35px 0;
    }

    .logo-text {
        font-size: 35px;
    }

    .btn-register {
        margin-left: 200px;
    }

    .menu ul {
        background: black;
        padding: 30px;
        width: 200px;
        opacity: 0.95;
    }

    .menu {
        margin-left: 300px;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel button.owl-dot {
        padding: 0 20px !important;
        margin-top: -350px;
    }

    .popular-course {
        margin: 50px 0;
    }

    .popular-course-header h1 {
        font-size: 30px;
        width: auto;
    }

    .popular-course-card {
        flex-direction: column;
        gap: 20px;
    }

    .popular-course-btn button {
        font-size: 18px;
    }

    .elearning-institute {
        margin: 40px 0;
        flex-direction: column;
    }

    .elearning-text h1 {
        width: 320px;
        font-size: 30px;
        line-height: normal;
    }

    .elearning-text p {
        font-size: 16px;
        line-height: 26px;
        width: 100%;
    }

    .elearning-text h3 {
        display: none;
    }

    .elearning-number h2 {
        font-size: 25px;
        line-height: normal;
    }

    .elearning-number h4 {
        font-size: 16px;
    }

    .elearning-text {
        padding: 45px 40px;
    }

    .elearning-number {
        flex-wrap: wrap;
        margin: 20px 0;
        gap: 10px 33px;
    }

    .elearning-image img {
        height: 100%;
        width: 100%;
    }

    .elearning-btn button {
        font-size: 18px;
        padding: 11px 18px;
    }

    .register {
        flex-direction: column;
        align-items: center;
        padding: 58px;
        margin: 60px 0;
        text-align: center;
    }

    .register h1 {
        font-size: 30px;
        line-height: normal;
    }

    .register p {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 20px;
        margin-top: 10px;
        width: auto;
    }

    .registration-btn button {
        padding: 11px 18px;
        font-size: 18px;
    }

    .successful-student {
        margin: 50px 0;
    }

    .successful-student-header h1 {
        width: auto;
        font-size: 30px;
        line-height: normal;
        margin-bottom: 10px;
    }

    .successful-student-header p {
        font-size: 16px;
        line-height: 30px;
        width: 415px;
        margin-bottom: 30px;
    }

    .successful-student {
        margin: 50px 0;
    }

    .successful-student-header h1 {
        width: auto;
        font-size: 30px;
        line-height: normal;
        margin-bottom: 10px;
    }

    .successful-student-header p {
        font-size: 16px;
        line-height: 30px;
        width: 415px;
        margin-bottom: 30px;
    }

    .successful-student-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .successful-student-card img {
        height: 100%;
        width: 100%;
    }
    .view-btn button {
        font-size: 18px;
        padding: 11px 18px;
    }
    .frequent-question {
        margin: 50px 0;
    }
    .questions-header h1 {
        font-size: 30px;
        line-height: normal;
    }
    .questions-header p {
        margin: 10px auto 30px auto;
    }
    .accordions {
        max-width: 734px;
        margin: 0 auto;
     }
     .accordion-item button {
        padding: 25px 0 25px 30px;
     
     }
     .accordion-content p {
        line-height: 28px;
        padding: 20px 0;
     }
     .accordion-item button[aria-expanded="true"]+.accordion-content{
        opacity: 1;
        max-height: 180px;
        transition: all 200ms linear;
     }
     .trusted-company {
        display: none;
    }
    .footer {
        padding: 50px 0;
    }

}

@media all and (max-width:575px) {
    .container {
        padding: 0 20px;
    }

    .fa-bars {
        display: block;
    }

    .menu {
        position: absolute;
        top: 120px;
        display: none;


    }

    .menu ul li a {
        display: block;
        margin-bottom: 15px;
    }

    .menu ul {
        display: block;
    }

    .menu.active {
        display: block;
    }

    .btn-register {
        padding: 10px 27px;
        font-size: 18px;
    }

    .logo-text {
        font-size: 25px;
    }

    .btn-register {
        display: none;
    }

    .header {
        margin: 44px 0 20px 0;
    }

    .menu ul {
        background: black;
        padding: 30px;
        width: 150px;
        opacity: 0.95;
    }

    .menu ul li a {
        font-size: 16px;
    }

    .menu {
        margin-left: 100px;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel button.owl-dot {
        padding: 0 20px !important;
        margin-top: -200px;
    }

    .popular-course-header h1 {
        font-size: 18px;
        width: auto;
    }

    .popular-course-header p {
        width: 305px;
        font-size: 14px;
        line-height: 24px;
        margin: 0 auto;
    }

    .popular-course-text {
        padding: 20px 0px 20px 20px;
        height: auto;
    }

    .popular-course-text h2 {
        font-size: 16px;
    }

    .popular-course-text p {
        width: 272px;
        font-size: 14px;
        font-weight: 400;
        margin-top: 8px;
    }

    .popular-course-text h3 {
        margin: 16px 0 20px 0;
    }

    .popular-course-img img {
        width: 335px;
        height: 224px;
    }

    .popular-courses {
        flex-direction: column;
    }

    .popular-course {
        margin: 32px 0;
    }

    .popular-course-main {
        margin: 16px 0 24px 0;
    }

    .popular-course-btn button {
        font-size: 18px;
        padding: 11px 18px;
    }

    .elearning-institute {
        margin: 32px 0;
        flex-direction: column;
    }

    .elearning-text h1 {
        width: 289px;
        font-size: 20px;
        line-height: normal;
    }

    .elearning-text p {
        font-size: 14px;
        line-height: 22px;
        width: 100%;
    }

    .elearning-text h3 {
        display: none;
    }

    .elearning-number h2 {
        font-size: 25px;
        line-height: normal;
    }

    .elearning-number h4 {
        font-size: 16px;
    }

    .elearning-text {
        padding: 20px 25px 20px 20px;
    }

    .elearning-number {
        flex-wrap: wrap;
        margin: 20px 0;
        gap: 10px 33px;
    }

    .elearning-image img {
        width: 100%;
        height: 300px;
    }

    .elearning-btn button {
        font-size: 16px;
        padding: 7px 18px;
    }

    .register {
        padding: 30px 15px;
        margin: 32px 0;
        text-align: center;
    }

    .register h1 {
        font-size: 18px;
    }

    .register p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 16px;
        margin-top: 10px;
        width: auto;
    }

    .registration-btn button {
        padding: 7px 18px;
        font-size: 16px;
    }

    .successful-student {
        margin: 32px 0;
    }

    .successful-student-header h1 {
        margin-bottom: 5px;
        font-size: 20px;
        width: 222px;
        margin: 0 auto;
        text-align: center;
    }

    .successful-student-header p {
        font-size: 14px;
        line-height: 21px;
        width:auto;
        margin-bottom: 32px;
        text-align: center;
    }

    .successful-student-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .successful-student-card img {
        height: 100%;
        width: 100%;
    }
    .successful-student-card h2 {
        text-align: center;
    }
    .successful-student-card p {
        text-align: center;
    }
    .view-btn button {
        font-size: 18px;
        padding: 11px 18px;
    }
   
    .frequent-question {
        margin: 32px 0;
    }
    .questions-header h1 {
        font-size: 20px;
        line-height: normal;
    }
    .questions-header p {
        margin: 3px auto 16px auto;
        width: auto;
    }
    .accordion-item button {
        padding: 19px 80px 19px 20px;
        font-size: 16px;
     }
    .accordions {
        max-width: 100%;
        margin: 0 auto;
     }
     .accordion-content p {
        font-size: 14px;
        line-height: 21px;
        padding: 16px 0;
     }
     .accordion-item button[aria-expanded="true"]+.accordion-content{
        opacity: 1;
        max-height: 180px;
        transition: all 200ms linear;
     }
     .trusted-company {
        margin: 32px 0;
    }
    .footer {
        padding: 30px 0;
    }
    .footer h1 {
        font-size: 30px;
    }
    .footer p {
        font-size: 14px;
    }
    .fa-brands {
        height: 30px;
        width: 30px;
    }
    .footer-icon {
        display: flex;
        width: 153.75px;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
    }

}